<!DOCTYPE html>
{% load static %}


<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Bayden Event Website</title>
	<link href="{%static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{%static 'Images/favicon_io/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{%static 'Images/favicon_io/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{%static 'Images/favicon_io/favicon-16x16.png' %}">
	<link rel="manifest" href="{%static 'Images/favicon_io/site.webmanifest' %}">
	<style>
		body {
			font-family: 'Poppins', sans-serif;
		}
	</style>
</head>

<body>
	<header id="head" style="background-color: #51CC4A; height: 25px;">
		<span class="text-white border-end border-white border-1 px-3">
			<i class="bi bi-telephone-fill"></i> +254700330033
		</span>
		<span class="text-white border-end border-white border-1 px-3">
			<i class="bi bi-envelope-fill"></i> info@bayden.com
		</span>
		<span class="text-white border-end border-white border-1 px-3">
			<i class="bi bi-geo-alt-fill"></i>Limuru Road, Nairobi Kenya
		</span>
		<span class="px-3 float-end">
			{% if user.is_authenticated %}
				
			{% else %}
			
			{% endif %}
		</span>
	</header>

	<nav id="navbar" class="navbar navbar-expand-lg sticky-top shadow bg-white">
		<div class="container">
			<div class="navbar-brand me-5">
				<a href="" class="text-decoration-none"><img src="{% static 'Images/BaydenLogo.png' %}"></a>
			</div>
			<button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#eventMenu"
				aria-expanded="false">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="eventMenu">
				<div class="navbar-nav ms-3 me-auto">
					<a href="" class="text-decoration-none mx-3 fw-normal" style="color: #51CC4A;">Home</a>
					<a href="" class="text-decoration-none mx-3 fw-normal" style="color: #51CC4A;">About
						Us</a>
					<a href="" class="text-decoration-none mx-3 fw-normal" style="color: #51CC4A;">Contact
						Us</a>
				</div>
				<div>
					<a href="#events" class="btn rounded-5" style="color: #51CC4A; border-color: #51CC4A;"> Get
						Ticket <i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</nav>

    {% block content %}
    {% endblock content %}

    <footer id="footer">
		<div class="text-white bg-sucsess" style="background-color: #51CC4A;">
			<div class="container py-3">
				<div class="row">
					<div class="col-lg-3">
						<img src="{% static 'Images/footer.png' %}" style="width: 112px; height: 73px;">
						<p>We are committed to providing and offering highly standard, most effective events
							platform!</p>
					</div>
					<div class="col-lg-3 text-white" style="text-decoration: none;">
						<h5 class="fw-bold">Quick Links</h5>
						<ul>
							<li><a href="" class="text-white text-decoration-none">Home</a><br></li>
							<li><a href="" class="text-white text-decoration-none">About Us</a><br></li>
							<li><a href="" class="text-white text-decoration-none">Contact Us</a><br></li>
							<li><a href="#events" class="text-white text-decoration-none">Get your ticket</a><br></li>
						</ul>
					</div>
					<div class="col-lg-3">
						<h5 class="fw-bold">Contacts</h5>
						<p><i class="bi bi-telephone-fill"></i> +254700330033</p>
					</div>
					<div class="col-lg-3">
						<h5 class="fw-bold">Let's Connect</h5>
						<p>To learn more follow our social platforms for update!</p>
						<span class="bg-white rounded-2 p-2 me-2">
							<a href="https://twitter.com" target="_blank" style="color: #51CC4A;"> <i
									class="bi bi-twitter"></i></a>
						</span>
						<span class="bg-white rounded-2 p-2 me-2">
							<a href="https://www.linkedin.com/in/" target="_blank" style="color:  #51CC4A;"> <i
									class="bi bi-linkedin"></i></a>
						</span>
						<span class="bg-white rounded-2 p-2 me-2">
							<a href="https://www.youtube.com/" target="_blank" style="color:  #51CC4A;"> <i
									class="bi bi-youtube"></i></a>
						</span>
						<span class="bg-white rounded-2 p-2">
							<a href="https://www.instagram.com/" target="_blank" style="color:  #51CC4A;"> <i
									class="bi bi-instagram"></i></a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="text-white text-center" style="background-color: #073763;">
			<p class="py-4">&copy Bayden 2023</p>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>
